<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregaciones de Puntos</title>
</head>
<body>
    <div class="container">
        <h1>Agregaciones de Puntos de Clientes</h1>
        <table>
            <thead>
                <tr>
                    <th>Media de Puntos</th>
                    <th>Punto Máximo</th>
                    <th>Punto Mínimo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ media }}</td>
                    <td>{{ maximo }}</td>
                    <td>{{ minimo }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
