<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
</head>
<body>
    <h1>Biblioteca</h1>

 
    
        <div>
            <time>Nombre:{{biblioteca.nombre}}</time>
            <h2>Email:{{biblioteca.email}}</h2>
            <h3>Libros</h3>
            {%for libro in biblioteca.libros_biblioteca.all %}
                <li>{{ libro.nombre }}</li>
            {% endfor%}
        </div>


</body>
</html>


