<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página de Ejemplo</title>
</head>
<body>
    <header>
        <h1>Bienvenido a mi página de ejemplo</h1>
    </header>

    {% for libro in libros_mostrar %}  
    
        <article>
            <time>Nombre:{{libro.nombre}}</time>
            <h2><a href="">{{libro.biblioteca.nombre}}</a></h2>
            <p>Autores</p>
        </article>
    

   <ul>
    {% for autor in libro.autores.all %}
    <li>{{autor.nombre}}</li>
    {% endfor %}
   </ul>

    <main>
        <p>Fecha Publiocacion {{libro.fecha_publicacion}}</p>
        <p>Idioma : {{libro.get_tipo_display}}</p>
    </main>
    <footer>
        <p>Descripcion {{libro.descripcion}}</p>
    </footer>
    <a href="{% url 'dame_libro' libro.id %}">Pulsa para ver mas detalles del libro</a>
    <a href="{% url 'dame_libros_idioma' libro.tipo %}">
        Pulsa para ver libros del mismo idioma o Español</a>
    {% endfor %}

</body>
</html>


