<html>
    <head><head>
        <body>
            <h1>BIBLIOTECA ONLINE</h1>

            <h2>Listado de enlaces</h2>
          
            <ul>
                <li>  <a href="{% url 'lista_libros' %}">Libros</a></li>
                <li><a href="{% url 'dame_libro' 10 %}">Ver libro</a></li>
                <li><a href="{% url 'dame_libros_biblioteca' 15 'capital' %}">Libro 15</a></li>
                <li><a href="{% url 'libros_no_prestados' %}">Libro con filtro</a></li>
            </ul>
        </body>
</html>